.Section {
    width: 100%;
    min-height: 100dvh;
    position: relative;
}

.Section1 {
    background: white;
    overflow: hidden;
}

.HeroContent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.BlurOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
}

.ServerModelContainer {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    
}



.ServerModel3D {
    width: 100%;
    height: 100%;

    /* background: blue; */
}

@media (min-width: 1024px) {
    .ServerModel3D {
        position: relative;
        left: 25%;
    }
}

.HeroTextContainer {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 40%;
    /* background-color: green; */
    padding: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
}

.HeroTitle {
    /* background: blue; */
    width: 100%;
    height: fit-content;
    color: black;
    font-size: clamp(20px, 9vw, 40px);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    text-wrap: wrap;
    margin-bottom: 1rem;
}

.HeroSubtitle {
    width: 100%;
    height: fit-content;
    font-size: clamp(14px, 3.5vw, 12px);
    font-family: var(--font-space-grotesk);
    font-weight: 400;
    text-align: center;
    color: #999;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 550px;
    overflow: hidden;
}
@media (min-width: 1024px) {
    .HeroTitle {
        font-size: clamp(15px, 4vw, 55px);
        max-width: 700px;
    }
    
    .HeroSubtitle {
        font-size: clamp(12px, 3.2vw, 16px);
    }

    .HeroContent {
        justify-content: center;
        align-items: flex-start;
    }

    .HeroTextContainer {
        width: 50%;
    }
}

@media (min-width: 1339px) {
    .HeroTitle {
        font-size: clamp(20px, 9vw, 60px);
        max-width: 700px;
        
    }
}
.SolanaGradient {
    background: linear-gradient(135deg, #9945FF 0%, #14F195 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.Section2 {
    background: #010101;
    /* background: white; */
    height: 100dvh;
}

.Section2Server {
    position: fixed;
    top: 50%;
    right: 100%;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transform: translateY(-50%);
    pointer-events: none;
}

.Server2Model3D {
    width: 85%;
    height: 85%;
    /* filter: invert(28%) sepia(53%) saturate(7314%) hue-rotate(238deg) brightness(104%) contrast(100%); */
    
    /* background: red; */
}

.Section2Inner {
    width: 100%;
    height: 100%;
    
}

.Section3 {
    background: #222;
}

.Section4 {
    background: #333;
}

.Section5 {
    background: #444;
}