/* .Container3D {
    position: relative;
    width: 70vw;
    height: 70vh;
    z-index: 100;
    pointer-events: none;
    background-color: red;
}

.Container3D canvas {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    height: 100%;
} */

.Container3D {
    /* background-color: red; */
    width: 100%;
    height: 450px;
    /* position: fixed; */
}

.Container3D canvas {
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
}

.Container {
    background: #F9FAFB;
    height: 200dvh;
    width: 100dvw;
}

.HeroContent {
    /* background: red; */
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* margin-top: 100px; */
}

.HeroTitle {
    /* background: blue; */
    width: 400px;
    height: 250px;
    margin-top: 100px;
}

.HeroTitle h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: var(--font-inter);
    color: #0F0F0F;
    text-align: center;
}

.HeroSubtitle {
    /* background: green; */
    height: 80px;
    width: 360px;
}

.HeroSubtitle h2 {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-space-grotesk);
    color: #0F0F0F;
    text-align: center;
}

.HeroButton {
    /* background: yellow; */
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeroButton button {
    background: #7F5AF0;
    border: 2px solid #C4B5FD;
    color: #F9FAFB;
    font-size: 14px;
    font-weight: 700;
    font-family: var(--font-ibm-plex-mono);
    border-radius: 10px;
    height: 60px;
    width: 160px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.split {
    opacity: 0;
    will-change: transform;
}

